[Camera]
# Camera indexes and their roles
indexes = 0,1,2
roles = vehicle,left,right
# Index of camera to flip
index_to_flip = 3
# Region of interest (ROI) for each camera (ymin, xmin, ymax, xmax)
roi_1 = 0.25,0.26,0.73,0.63
roi_2 = 0.15,0.30,0.61,0.65

[Server]
host = 192.168.2.101
port = 60003

[Model]
path = ../models/ssd-new-dataset

[DistanceEstimator]
focal_length = 502
real_width = 3.5
